<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-left">
                    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="bidboard">Bid Board</a></li>
                    <li ui-sref-active="active"><a ui-sref="management">Management</a></li>
                    <li ui-sref-active="active"><a ui-sref="internet">Internet</a></li>
                    <li ui-sref-active="active"><a ui-sref="forensics">Forensics</a></li>
                    <li ui-sref-active="active"><a ui-sref="technology">Technology</a></li>
                    <li ui-sref-active="active"><a ui-sref="security">Security</a></li>
                    <li ui-sref-active="active"><a ui-sref="social">Social</a></li>
                    <li ui-sref-active="active"><a ui-sref="about">About</a></li>
                    <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
                </ul>
                <!--<form class="navbar-form navbar-left" role="search">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                        <!--<span class="input-group-btn">-->
                           <!--<button class="btn btn-default" type="submit">-->
                        <!--<span class="glyphicon glyphicon-search"></span>-->
                           <!--</button>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</form>-->
            </div>
        </div>
    </div>
</nav>