<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Information Technology
            </div>
            <div class="panel-body">
                <ul>
                    <li>Disaster Recovery</li>
                    <li>Network Topology</li>
                    <li>Asset Management</li>
                </ul>
            </div>
            <div class="panel-footer">
                <a ui-sref="technology">More...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Information Security
            </div>
            <div class="panel-body">
                <ul>
                    <li>Remote Access</li>
                    <li>Trade Secrets</li>
                    <li>Encryption</li>
                </ul>
            </div>
            <div class="panel-footer">
                <a ui-sref="security">More ...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Social Presence
            </div>
            <div class="panel-body">
                <ul>
                    <li>Account Security</li>
                    <li>Bang for the Buck</li>
                    <li>Best Practices</li>
                </ul>
            </div>
            <div class="panel-footer">
                <a ui-sref="social">More ...</a>
            </div>
        </div>
    </div>
</div>