<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Project Management
            </div>
            <div class="panel-body">
                <ul>
                    <li><a ui-sref="bidboard">Bid Board, Bid Tracking Software</a></li>
                    <li>Scheduling and Tracking</li>
                    <li>Closing It Out</li>
                </ul>
            </div>
            <div class="panel-footer">
                <a ui-sref="management">More ...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                The Internet of Things
            </div>
            <div class="panel-body">
                <ul>
                    <li>Custom Web Sites</li>
                    <li>Mobile Site Conversion</li>
                    <li>Web Site Management</li>
                </ul>
            </div>
            <div id="success" class="panel-footer">
                <a ui-sref="internet">More ...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div  class="panel panel-info">
            <div class="panel-heading">
                Digital Forensics
            </div>
            <div class="panel-body">
                <ul>
                    <li>Red vs. Blue</li>
                    <li>Intrusion Analysis</li>
                    <li>Evidence Collection</li>
                </ul>
            </div>
            <div class="panel-footer">
                <a ui-sref="forensics">More ...</a>
            </div>
        </div>
    </div>
</div>